:root {
    --global-spacing-xs: 0.5rem;
    --global-spacing-sm: 1rem;
    --global-spacing-md: 1.5rem;
    --global-spacing-lg: 2rem;
    --global-spacing-xl: 3rem;
    --global-spacing-xxl: 4rem;

    --global-font-size-xs: 0.75rem;
    --global-font-size-sm: 0.875rem;
    --global-font-size-md: 1rem;
    --global-font-size-lg: 1.25rem;
    --global-font-size-xl: 1.5rem;
    --global-font-size-xxl: 2rem;
    --global-font-size-xxxl: 3rem;
}


html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


.search-field{
    background-color: green;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 3rem;

    
}

.query-input{
    padding: var(--global-spacing-sm);
    width: 35vw;
    max-width: 700px;
    border-radius: 50px;
    border: 1px black solid;
    font-size: var(--global-font-size-md);


    box-sizing: border-box;
    display: block;


}

.results-container{
    background-color: yellow;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--global-spacing-lg);

    padding: var(--global-spacing-md);

}

.card{
    background-color: red;
}

.card img{
    width: 100%;
    height: auto;
}

.card h4{
    margin: 0;
}

.card h3{
    margin: 0;
}

@media (max-width: 768px) {
    html {
        font-size: 85%;
    }
    .results-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    html {
        font-size: 80%;
    }
    .results-container {
        grid-template-columns: repeat(2, 1fr);
    }
}