@import url('./variables.css');

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: block;
}

.search-field {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 3rem;
}

.query-input {
  padding: var(--global-spacing-sm);
  width: 35vw;
  max-width: 700px;
  border-radius: 50px;
  border: 1px black solid;
  font-size: var(--global-font-size-md);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--global-spacing-xl);

  padding: var(--global-spacing-xl);
}

.message {
  text-align: center;
  font-size: var(--global-font-size-lg);
}

@media (max-width: 768px) {
  html {
    font-size: 85%;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--global-spacing-lg);
    padding: var(--global-spacing-lg);
  }

}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--global-spacing-md);
    padding: var(--global-spacing-md);
  }
}
